@tailwind base;
@tailwind components;
@tailwind utilities;

/* import inter from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "PP Writer";
  src: url("/fonts/Writer/PPWriter-Regular.woff2") format("woff2"),
    url("/fonts/Writer/PPWriter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PP Writer";
  src: url("/fonts/Writer/PPWriter-Bold.woff2") format("woff2"),
    url("/fonts/Writer/PPWriter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PP Writer";
  src: url("/fonts/Writer/PPWriter-RegularItalic.woff2") format("woff2"),
    url("/fonts/Writer/PPWriter-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PP Writer";
  src: url("/fonts/Writer/PPWriter-BoldItalic.woff2") format("woff2"),
    url("/fonts/Writer/PPWriter-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PP Writer Book";
  src: url("/fonts/Writer/PPWriter-BookText.woff2") format("woff2"),
    url("/fonts/Writer/PPWriter-BookText.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PP Writer Book";
  src: url("/fonts/Writer/PPWriter-BookItalic.woff2") format("woff2"),
    url("/fonts/Writer/PPWriter-BookItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

html {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PP Writer", serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "PP Writer", serif;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Inter", serif;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

/* React Modal */

.ReactModal__Overlay {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* React Modal Content */

.ReactModal__Content > div {
  transform: translateY(20px);
  transition: all 400ms ease-in-out;
}
.ReactModal__Content--after-open > div {
  transform: translateY(0px);
}

.ReactModal__Content--before-close > div {
  transform: translateY(20px);
}
